body{
font-family: sans-serif;
font-size: 15;
margin: 0;
background-color: #FFE9D5;
}

.main{
margin-right: 100px;
}

.shop{
  border: 4px solid #3D2718;

}

p{
  margin-left: 50px;
  padding-top: 20px;
  margin-right: 350px;
  text-align: left;
  line-height: 25px;
  font-weight: 600px;

}

h1{
  padding-left: 800px;
  padding-top: 50px;
  margin-right: 400px;
}

h2{
  text-align: center;
}


.logo{
  padding-left: 20px;
  float: left;
}

/* Nav bar*/
nav{
  float: right;
}

header {
  padding-bottom: 10px;
  background-color: #A6816B;
  font-weight: normal;
  border-bottom: 2px solid #3D2718;
}

nav ul{
  margin-right: 100px;
  padding: 0;
  list-style: none;
}

nav li{
  display: inline-block;
  margin-left: 70px;
  padding-top: 22px;
}

nav a{
  color:#3D2718;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover{
  font-weight: bold;
}
/*Nav bar end*/


/*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #BE9880;
}*/

/*li, a, button{
  font-family: sans-serif;
  font-weight: normal;
  font-size: 20px;
  color: #603B11;
  margin-left: 50px;
  margin-right: 50px;
}*/
