body{
font-family: sans-serif;
font-size: 15;
margin: 0;
background-color: #FFE9D5;
}

table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

th, td {
font-size: 15;
font-weight: normal;
  text-align: left;
  border-bottom: 1px solid #3D2718;
  padding-bottom: 50px;
  padding: 30px;
  margin-bottom: 50px;
}

h2{
  margin-bottom: 50px;
  margin-top: 50px;
}



.logo{
  padding-left: 20px;
  float: left;
}

/*header*/
.header {
  overflow: hidden;
  background-color: #A6816B;
  padding: 20px 10px;
  border-bottom: 2px solid #3D2718;
}

.header a {
  float: left;
  color: #FFE9D5;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  letter-spacing: 7px;
  font-size: 35px;
  font-weight: bold;
  font-family: "Sofia";
}

.header a:hover {
  color: #3D2718
}


.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}
/*header end*/

/*footer*/
.footer {
   position:fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #FFE9D5;
   color: #3D2718;
   text-align: center;
   border-top: 3px solid #3D2718;
}

.footer-right{
  float: left;
}

.footer a{
  float: left;
  color: #3D2718;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  font-family: "sofia";
}
/*footer*/
